header+section {
    height: 100px;
    background-color: lightseagreen;
}

header+section>span {
    font-size: 30px;
    font-weight: bolder;
}

#input {
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

input {
    height:40px;
    text-align: center;
}